%message {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}
.done {
    @extend %message;
    background-color: green;
}
.incomplete {
    @extend %message;
    background-color: orange;
}
.error {
    @extend %message;
    background-color: red;
}
div {
    font-size: 20px;
    h3 {
        color: #643eab;
    }
    ol {
        background: #1a1602;
        color: #ffd900;
    }
}
